<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <!-- Add global variables Key-Value pairs-->
  <appSettings>
    <add key="db_server" value="sql2k801.discountasp.net" />
    <add key="db_username" value="SQL2008_841902_tr_user" />
    <add key="db_password" value="52645264hrm" />
    <add key="db_database" value="SQL2008_841902_tr" />
    <add key="root_dir" value="C:\SeleniumCSharp\Workspaces\SeleniumWorks\SeleniumWorks\" />
  </appSettings>

  <!-- Log4net configuration -->
  <log4net debug="false">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender,log4net">
      
      <!-- Modify location and name of log file-->
      <param name="File" value="C:\SeleniumCSharp\Workspaces\SeleniumWorks\SeleniumWorks\logs\teststeps.log" />
      
      <param name="AppendtoFile" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <priority value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <category name="Test Framework">
      <priority value="ALL" />
    </category>
  </log4net>
  <!-- log4net configuration -->
  
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
</configuration>